<div class="container">
    <h1 class="text-center">Bookings</h1>
    <% @bookings.each do |booking| %>
        <div class="bookings-element card-product">
            <%= cl_image_tag(booking.car.photo.key, height:150, width: 200, crop: :fill) %>
            <div class="book-info">
                <h5><%= booking.car.info %></h5>
                <p>Owner: <%= booking.car.owner %></p>
                <p>From :<%= booking.initial_date.strftime("%B %d, %Y") %> to <%= booking.final_date.strftime("%B %d, %Y") %></p>
                <%= link_to booking_url(booking), class:"white-text" do%>
                    <button type="button" class='click-dark my-3'>See more</button>
                <% end %>
            </div>
        </div>
    <% end %>
</div>
