<h1 class='text-center m-3'>Booking</h1>
<div class="card-center mb-3" style="max-width: 1080px;">
  <div class="row no-gutters">
    <div class="col-md-4 ">
     <%= cl_image_tag(@booking.car.photo.key, :width => 350, :height => 240, :crop => :fill) %>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"><%= @booking.car.info %></h5>
        <p class="card-text">Owner: <strong><%= @car.owner %></strong></p>
        <p class="card-title">From: <%= @booking.initial_date.strftime("%B %d, %Y") %> to <%= @booking.final_date.strftime("%B %d, %Y") %></p>
        <p class="card-text"><small class="text-muted">Price: £<%= @car.price %></small></p>
        <div class="d-flex justify-content-between">
          <%= link_to "See car page", car_path(@booking.car) %>
          <button type='button' class='btn-animate mb-3'><span><%=link_to "Return", bookings_path, class:"white-text"%> </span></button>
        </div>
      </div>
    </div>
  </div>
</div>
