<h1>Booking</h1>
<h5><%= @booking.car.show %></h5>
<p>£<%= @car.price %></p>
<p><%= @booking.initial_date %></p>
<p><%= @booking.final_date%></p>
<br></br>
<%= link_to "See all bookings", bookings_path %>
