<h1>Booking</h1>
<div class="card mb-3" style="max-width: 1500px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <%= cl_image_tag @booking.car.photo.key %>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"><%= @booking.car.info %></h5>
        <h4 class="card-title">From :<%= @booking.initial_date %> to <%= @booking.final_date%></h5>
        <p class="card-text">Owner: <strong><%= @car.owner %></strong></p>
        <p class="card-text"><small class="text-muted">Price: £<%= @car.price %></small></p>
      </div>
    </div>
  </div>
</div>

