<div id="home_page" >
  <div class="flex-container justify-content-center align-items-start" >
    <%= image_tag "caroo_logo.png", class: "banner" %>

    <%= form_tag cars_url, method: :get, class:"search-form" do  %>
      <%= text_field_tag :brand,
        nil,
        class: "search-input",
        placeholder: "Find brand.."
      %>
      <%= text_field_tag :model,
        nil,
        class: "search-input",
        placeholder: "Find model.."
      %>
      <%= text_field_tag :doors,
        nil,
        class: "search-input",
        placeholder: "Number of doors.."
      %>
      <%= text_field_tag :year,
        nil,
        class: "search-input",
        placeholder: "Year..."
      %>
      
      <select id="kind" name="kind" class="search-input">
        <option value="Any">Any</option>
        <option value="Hybrid">Hybrid</option>  
        <option value="Electric">Electric</option>
        <option value="Petrol">Petrol</option>
        <option value="Diesel">Diesel</option>
        <option value="Hybrid">Hybrid</option>
      </select>

      <select id="transmission" name="transmission" class="search-input">
        <option value="Any">Any</option>
        <option value="Manual">Manual</option>
        <option value="Automatic">Automatic</option>
      </select>

      <%= submit_tag "Search", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

