  <h2><strong>Cars List</strong></h2>
  <p><%= link_to "Create Rental Car", new_car_path %><p>
  <% @cars.each do |car| %>
    <h1><%= car.name %></h1>
    <h1><%= car.description %></h1>
    <h1><%= car.price %></h1>
    <h1><%= car.availabilty? %></h1>
    <p><%= link_to "for more detail click here", car_path(car) %><p>
  <% end %>

