<div class="container">
  <h1 class="text-center">Our cars</h1>
  <div class="text-center car-grid">
    <% @cars.each do |car| %>
      <div class='index-card'>
        <div class='index-card-top' style= "background-image: url('<%= cl_image_path(car.photo.key, height:300, width:400, crop: :fill); %>')">
          <div class="background-image">
            <div class='background-image-safety'></div>
            <div class='adding-angle'>
              <svg class='index-angle' viewBox='0 0 235 25' preserveAspectRation='xMinYMax slice'>
                <polygon points="235 0 235 25 0 25"></polygon>
              </svg>
            </div>
          </div>
        </div>
        <div class='car-info text-center'>
          <div class="flex-grow-1">
            <h4 class='car-title'><%= car.brand %> <%= car.model %></h4>
            <div class='equipment'>
              <ul>
                <li title='transmission'><i class="fas fa-car-alt"></i> <%= car.transmission %></li>
                <li title='year'><i class="far fa-calendar-alt"></i> <%= car.year%></li>
                <li title='seats'><i class="far fa-user"></i> <%= car.seats %></li>
                <li title='doors'><i class="fas fa-pager"></i> <%= car.doors %></li>
              </ul>
            </div>
          </div>

          <div class="positioning">
            <%= link_to car_url(car), class:"white-text" do%>
            <button type="button" class='click-dark mb-3'>See more</button>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>


