<div class='container' style= >
  <%= simple_form_for @car do |f| %>
    <%= f.input :brand, placeholder: 'Brand' %>
    <%= f.input :model, placeholder: 'Model' %>
    <%= f.input :kind, :collection => @kinds %>
    <%= f.input :price, placeholder: 'Price' %>
    <%= f.input :description, placeholder: 'Tell us a little bit about your car!' %>
    <%= f.input :photo, as: :file %>
    <%= f.submit "Create car!", class: "btn btn-primary" %>
  <% end %>
</div>
