<h1>Car</h1>
<h5><%= @car.info %></h5>
<p>Owner: <%= @car.owner %></p>
<%= cl_image_tag(@car.photo.key, height:300, width: 400, crop: :fill) %>
<p>Desc: <%= @car.description %></p>
<p>Price: <%= @car.price %></p>
<%= link_to "Book", new_car_booking_path(@car) %>
<h2>Reviews</h2>
<% if user_signed_in? %>
  <p><%= link_to "Create a Review", new_car_review_path(@car) %><p>
<% end %>
  <% @car.reviews.each do |review| %>
    <h1><%= review.rating %></h1>
    <p><%= review.content %></p>
    <% if (review.car.user == current_user) %>
      <%= link_to "Edit my review", edit_review_path(review) %> - <%= link_to "Delete a Review", review_path(review), method: "delete" %>
    <% end %>
  <% end %>


