<h1>Car</h1>
<h5><%= @car.info %></h5>
<p>Owner: <%= @car.user.name %></p>
<p>Desc: <%= @car.description %></p>
<p>Price: <%= @car.price %></p>
<%= link_to "Rent", car_bookings_url(@car), method: :post %>
<p><%= link_to "Edit car", edit_car_url(@car) %> - <%= link_to "Delete car", car_path(@car), method: "delete" %></p>

<h2>Reviews</h2>
<br></br>
<p><%= link_to "Create a Review", new_car_review_path(@car) %><p>
  <% @car.reviews.each do |review| %>
    <h1><%= review.rating %></h1>
    <p><%= review.content %></p>
  <% end %>


