<div class="container">
  <div class="row d-flex justify-content-center py-4">
  </div>
  <div class="card mb-3">
    <div class="d-flex align-items-center">
      <div class="car-show-info">
        <div class="col">
          <%= cl_image_tag(@car.photo.key, height:350, width: 530, crop: 'fill') %>
        </div>

        <div class="col">
          <div class="card-body">
            <div class="card-title justify-content-between d-flex">
              <h1><%= @car.brand %> <%= @car.model %></h1>
            </div>
            <p class="card-text">Owner: <%= @car.user.name %></p>
            <p class="card-text">Desc: <%= @car.description %></p>
          </div>
        </div>
      </div>
      <div id="booking-form" class="booking-form flex-grow-1 mx-5">
        <%= simple_form_for [@car, @booking] do |f| %>
          <h2><%= @car.price%>£ / day</h2>
          <div class="form-inputs">
            <%= f.input :initial_date, readonly: 'true', placeholder: 'Start Date', start_year: Date.today.year, id: 'start'%>
            <%= f.input :final_date, readonly: 'true', placeholder: 'End Date', id: 'end', start_year: Date.today.year %>
            <%= f.hidden_field :totalprice, id: 'hidden', value: @car.price %>
            <h5 id="price" data-price=<%= @car.price %> >Total price: <%= @car.price %> £</h5>
            <%= f.button :submit, class: "btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="card bg-light mb-3">
    <div class="card-header">
      <p><strong>Reviews:</strong></p>
      <% if @can_review %>
      <p><%= link_to "Create a Review", new_car_review_path(@car) %><p>
      <% end %>
    </div>
      <% @car.reviews.each do |review| %>
        <div class="review d-flex border-top">
          <div class="review-picture border-right d-flex align-item-center justify-content-center">
            <% if review.user.photo.attached? %>
              <%= cl_image_tag current_user.photo.key, class: "avatar review-image" %>
            <% else %>
              <%= image_tag "pp.png", class: "avatar review-image"%>
            <% end %>
          </div>
          <div class="review-content flex-grow-1">
            <div class="card-text">
              <i class ="far fa-comments"></i> <%= review.content %>
            </div>
            <div class="review-stars">
              <% review.rating.times do %>
                <i class="fas fa-star yellow"></i>
              <% end %>
              <% (5 - review.rating).times do %>
                <i class="far fa-star yellow"></i>
              <% end %>
            </div>
          </div>
          <div class="review-options">
            <% if (review.user == current_user) %>
              <i class="fas fa-pencil-alt"><%= link_to "Edit my review", edit_review_path(review) %></i>
              <br>
              <i class="fas fa-trash"><%= link_to "Delete my review", review_path(review), method: "delete" %></i>
            <% end %>
          </div>
        </div>
    <% end %>
  </div>
</div>

<script>
  const dates = document.querySelectorAll('.form-inputs .form-group');
  const price = document.querySelector('#price');
  const rent = document.getElementById("hidden");
  dates.forEach((field) => {
      field.addEventListener('click', (event) => {
          const dayprice = parseInt(price.dataset.price);
          let startyear = document.querySelector('#booking_initial_date_1i').selectedOptions[0].innerHTML
          let startmonth = document.querySelector('#booking_initial_date_2i').selectedOptions[0].innerHTML
          let startday = document.querySelector('#booking_initial_date_3i').selectedOptions[0].innerHTML
          let startdate = new Date(`${startyear}-${startmonth}-${startday}`);
          let endyear = document.querySelector('#booking_final_date_1i').selectedOptions[0].innerHTML
          let endmonth = document.querySelector('#booking_final_date_2i').selectedOptions[0].innerHTML
          let endday = document.querySelector('#booking_final_date_3i').selectedOptions[0].innerHTML
          let enddate = new Date(`${endyear}-${endmonth}-${endday}`);
          let days = (enddate-startdate)/(1000 * 3600 * 24);
          let finalprice = (days+1)*dayprice
          price.innerHTML = `Total price: ${finalprice} £`;
          rent.value = finalprice;
      });
  });
  </script>